<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>host</title>
    <!-- Bootstrap CSS -->
    
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="dazzle.png" width="50" height="50" class="d-inline-block align-top" alt="Logo"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="homepage.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="host.html">Host A Drive</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="joinlist.html">Join A Drive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="signup.html">Login/Sign-Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="profile.html">Your Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      <div class="mx-auto d-flex justify-content-center py-5">
        <form>
          
          <div class="form-outline mb-4">
            <input type="text" id="form1" class="form-control" />
            <label class="form-label" for="form1">Name</label>
          </div>
        
          
          <div class="form-outline mb-4">
            <input type="email" id="form2" class="form-control" />
            <label class="form-label" for="form2">Email address</label>
          </div>
          
          <div class="form-outline mb-4">
            <input type="location" id="form3" class="form-control" />
            <label class="form-label" for="form3">Location</label>
          </div>

          <div class="form-outline mb-4">
            <input type="date" id="form4" class="form-control" name="date" />
            <label class="form-label" for="form4">Date</label>
          </div>
          
          <div class="form-outline mb-4">
            <textarea class="form-control" id="form5" rows="4"></textarea>
            <label class="form-label" for="form5">Event Details</label>
          </div>
        
          <!-- Checkbox -->
          <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
            <label class="form-check-label" for="form4Example4">
              Send me a copy of this message
            </label>
          </div>
        
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
        </form>
      </div>
      
</body>
</html>