body{
    background-color: #EAEAEA;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #08D9D6;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, #08D9D6, #059f9c);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, #08D9D6, #059f9c)
    }
.btn{
    text-transform: unset!important;
    transition: none;
}
.card-mod{
    width: 75vw; 
    transition: transform 0.3s;
    /**box-shadow: 0 2px 4px 0 #08D9D6, 0 6px 20px 0 #08D9D6;
    -webkit-transition:  box-shadow .3s ease-out;**/


}
.collapse .navbar-nav .nav-item .nav-link{
	color: #F6F1F1;
}

.card-mod:hover{ 
    box-shadow: 1px 3px 7px #19A7CE;

 }
.card-header{
    background-color: #fff;
}
